<owl-carousel-o [options]="customOptions">

    <ng-container *ngFor="let brand of brands">
        <ng-template carouselSlide>
            <div class="position-relative">
                <div
                    class="position-absolute w-100 h-100 d-flex justify-content-center align-items-center image-loading">
                    <div class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <img [src]="brand.image" [alt]="brand.name" height="200" class="img-fluid rounded">
            </div>
        </ng-template>
    </ng-container>


</owl-carousel-o>